body {
  background-color: gray;
}

/* Custom 'Hero image' */
.heroCustom {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;

    /* Background image stuff */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heroCustom h1{
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
