body {
  background-color: #282C34;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Header Bar */
.top-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 0;
  width:100%;
  display: inline;
}


li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-right: 50px;
  text-decoration: none;
}

/* Sliding side menu */
.sidemenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0.9;
  background-color: #282C34;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 0.3s;
}

/* The sidepanel links */
.sidemenu a {
  padding: 8px 8px 8px 40px;
  text-decoration: none; /*remove underlines*/
  font-size: 30px;
  position: center;
  color: grey;
  display: block;
  transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidemenu a:hover {
  color: white;
  padding-left: 50px;
}

/* Position and style the close button (top right corner) */
.sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  cursor: pointer;
  background-color: #282C34;
  color: white;
  border: none;
}

.openbtn:hover {
  color: gray;
}

.content{
  width: 75%;
  border: 15px;
  padding: 50px;
  margin: 20px;
  padding-left: 15%;
  text-align: center;
}
